@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

body {
  background-color: #965dff;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#trouble {
  font-family: Expansiva, monospace;
  font-weight: 900;
}
#clock {
  font-size: 4rem;
  font-weight: 600;
  font-family: Expansiva, "Roboto Mono", monospace;
  color: #fff;
  margin-bottom: 0.25em;
}
footer {
  max-height: 45px;
  color: #f2f2f2;
  background-color: #272727;
  font-family: Expansiva, monospace;
  align-content: center;
  justify-content: center;
  padding-left: 30%;
  margin-top: 8.5em;
}
#search {
  width: 100%;
  height: 100vh;
  background-color: #272727;
  display: none;
  position: absolute;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-field {
  width: 90%;
  padding: 0.75em 1em;
  box-sizing: border-box;
  background-color: #272727;
  border: solid 0 #272727;
  font-family: Expansiva, "Roboto Mono", monospace;
  font-size: 4rem;
  color: #f2f2f2;
  outline: none;
  border-radius: 3px;
  margin-bottom: 1em;
  text-align: center;
}

.weather-container {
  width: 18%;
  background-color: #272727;
  padding: 1em;
  border-radius: 3px;
  font-family: Expansiva, "Roboto Mono", monospace;
  color: #fff;
  text-align: center;
}
.inline {
  display: inline-block;
}
.img {
  max-width: 100%;
}
.bookmark-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 88%;
  margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
  .container {
    height: auto;
  }
  #clock {
    margin-top: 1em;
  }
  #trouble{
    display: none;
  }
  .container > .bookmark-container {
    flex-direction: column;
    width: 60%;
  }
  .bookmark-container > .bookmark-set {
    width: auto;
    margin: 1em 0;
  }
}


.bookmark-set {
  padding: 1em;
  background-color: #272727;
  border-radius: 25px;
  font-family: Expansiva, "Roboto Mono", monospace;
  font-size: 0.75rem;
  width: 35%;
  height: 12em;
  margin: 0em 0.5em;
}
.bookmark-inner-container {
  overflow-y: scroll;
  height: 80%;
  vertical-align: top;
}
.bookmark-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  margin: 0 0 0.35em 0;
}
.bookmark {
  text-decoration: none;
  color: #8c8c8b;
  display: block;
  margin: 0.5em 0;
}
.bookmark:hover {
  color: #fff;
}
