/*
 * Evening Startpage
 * Inspired by https://github.com/jeroenpardon/sui
 * You can find it at https://github.com/TB-96/Evening-Startpage
 * Made by TB-96 2020
 *
 */
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@font-face {
  font-family: "Arms";
  src: local("Arms"), local("Arms"), url("/assets/fonts/ARMS.ttf");
}
:root {
  --color-theme: #00caff;
  --bg-primary: #24262d;
  --bg-secondary: #2d2f3d;
  --text-shadow: #556;
  --bg-hover: var(--bg-primary);
  --color-primary: #00caff;
  --color-secondary: #ecfcff;
  --color-success: #69f4b1;
  --color-warning: #f9f871;
  --color-danger: #f850ac;
  --padding: 1.5rem;
  --rounded: 25px;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: opacity 0.3s;
  font-family: "Arms", monospace;
}

html {
  color: var(--color-primary);
}
body {
  display: inline-block;
  background-color:var(--bg-primary);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%2300caff' fill-opacity='1' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #4e4e4e;
}
::-webkit-scrollbar-thumb {
  background: var(--bg-secondary);
}

a,
a:visited,
button {
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  cursor: pointer;

  webkit-text-decoration-color: var(--color-warning);
  webkit-text-decoration-skip: true;
}

h1,
h2 {
  font-weight: 900;
  margin: 0;
  padding: 0;
}
h3,
h4 {
  text-transform: uppercase;
  text-align: left;
  color: #e6f4f1;
}
h1 {
  font-size: 3em;
  font-weight: 900;
}
h3 {
  font-size: 20px;
  font-weight: 900;
  padding: var(--padding);
  color: var(--color-warning);
}
h4 {
  font-size: 1.1em;
  font-weight: 900;
  padding-bottom: 0.5rem;
}
#togglebookmarks {
  text-decoration: none !important;
}

/* ANIMATION */

@keyframes fadeseq {
  100% {
    opacity: 1;
  }
}

.fade {
  opacity: 0;
}

.fade {
  animation: fadeseq 0.3s forwards;
}

.fade:nth-child(2) {
  animation-delay: 0.4s;
}
.container-fluid {
  padding: 3rem;
}
.row {
  width: 100% !important;
}
/* HEADERS */

#header {
  text-align: center;
}
.header {
  background-color: var(--bg-secondary);
  border-radius: var(--rounded);
  border: var(--color-primary) solid 0.125rem;
  padding: 1rem;
  margin-bottom: 0.25rem;
}

#header-time {
  font-size: 6.5rem;
  text-shadow: 0.5rem 0.5rem var(--text-shadow);
  text-align: center;
}
#header-date {
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
  text-shadow: 0.18rem 0.18rem var(--text-shadow);
  color: #e6f4f1;
  font-size: 1.75rem;
}
#header-quote {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  background: var(--bg-secondary);
  text-align: center;
  border-radius: var(--rounded);
  margin-bottom: 1rem;
  text-align: center !important;
  width: 100%;

  border: var(--color-primary) 0.125rem solid;
  color: #e6f4f1;
  font-family: "Caveat Brush", cursive;
}

/* LINKS */

.apps-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.25rem;
  box-shadow: var(--shadow);
  background: var(--bg-secondary);
  border-radius: var(--rounded);
  border: var(--color-primary) 0.125rem solid;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  /* ...and now for the proper property */
  transition: background-color 0.5s;
}
.apps-item:hover {
  background-color: var(--bg-hover) !important;
  color: #e6f4f1 !important;
  border-color: var(--color-primary);
}

.apps-icon {
  padding: 0.75rem;
}

svg {
  fill: var(--color-primary) !important;
  display: block;
  width: 80px;
  height: 80px;
}
svg:hover {
  fill: var(--color-danger) !important;
}

.apps-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.apps-text span {
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none !important;
  text-shadow: 0.25rem 0.25rem var(--text-shadow);
}
.apps-text span:hover {
  color: var(--color-primary) !important;
}

.btn {
  color: #e6f4f1;
  background: var(--bg-secondary);
  padding: 1rem;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  border: var(--color-primary) 0.125rem solid;
  width: 100%;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none !important;
  text-shadow: 0.25rem 0.25rem var(--text-shadow);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center !important;
  height: border-box;
  margin: 0.5rem;
  box-shadow: var(--shadow);
  background: var(--bg-secondary);
  border-radius: var(--rounded);
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  /* ...and now for the proper property */
  transition: background-color 0.5s;
}
.row {
  margin-bottom: 0;
  margin-top: 0;
}

.bookmark-btn {
  margin-top: 1.25%;
  width: border-box;
}

.little-btn {
  margin-top: 1%;
}
li a:hover {
  text-decoration: none;
}
.little-btn:hover {
  color: var(--color-primary) !important;
}
.little-btn-group {
  display: block;
  list-style: none;
}
#links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: border-box;
}
.col-6 {
  margin-top: 2% !important;
}

small {
  width: 100%;
  font-weight: 500;
  margin-left: 65%;
  margin-top: 0.75%;
  text-transform: uppercase;
  text-decoration: none !important;
  text-shadow: 0.25rem 0.25rem var(--text-shadow);
  color: #fafafa !important;
}
footer {
  clear: both;
  background-color: var(--bg-secondary);
  margin: 0;
  font-size: 1.25rem;
  border-radius: var(--rounded);
  text-align: center;
  position: relative;
  border: var(--color-primary) solid 0.125rem;
  color: var(--color-primary);
}
footer a {
  text-shadow: 0.25rem 0.25rem var(--text-shadow);
}
footer a:hover {
  color: var(--color-primary);
  text-decoration: none;
  text-shadow: 0.25rem 0.25rem var(--text-shadow);
}
